

section.middle-wrapper>.mini-games-head {
    width: 100%;
    text-align: center;
    position: relative;
}

section.middle-wrapper>.mini-games-content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 1.1714rem 1.4571rem;
    margin-bottom: 1rem;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container {
    width: 9.2571rem;
    height: 10.5714rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: .4286rem;
    position: relative;
    cursor: pointer;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.hilo-container .hilo-components {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container .title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 5;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 1.1429rem;
    font-family: luckiest;
    color: #fff;
    font-size: 2.2857rem;
    letter-spacing: .1429rem;
    -webkit-filter: drop-shadow(.2286rem .2286rem .1429rem #672ee1);
    filter: drop-shadow(.2286rem .2286rem .1429rem #672ee1);
    -webkit-transition: all .3s cubic-bezier(.25, .46, .45, .94);
    transition: all .3s cubic-bezier(.25, .46, .45, .94);
    -webkit-transform: translateZ(2.5714rem) scale(.7) translateY(-1rem);
    transform: translateZ(2.5714rem) scale(.7) translateY(-1rem);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.hilo-container .hilo-components .hilo-cards {
    width: 9.4857rem;
    left: 0;
    bottom: -.5714rem;
    -webkit-transform: translateZ(2.2857rem) scale(.78);
    transform: translateZ(2.2857rem) scale(.78);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.hilo-container .hilo-components>img {
    position: absolute;
}

html:not(:lang(fa)):not(:lang(ar)) img {
    vertical-align: middle;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container>.game-bg-wrapper {
    width: 100%;
    height: 100%;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container>.play-overlay {
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    z-index: 10!important;
    pointer-events: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(14.2857rem);
    transform: perspective(14.2857rem);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container>.game-bg-wrapper>img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}

section.middle-wrapper>.mini-games-head>h1>p:nth-child(9) {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}

section.middle-wrapper>.mini-games-head>h1>p {
    color: #f4ff07;
    position: relative;
    cursor: pointer;
}

section.middle-wrapper>.mini-games-head>h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: luckiest;
    font-size: 2.2857rem;
    font-weight: 100;
    -webkit-filter: drop-shadow(.2286rem .2286rem .0286rem #672ee1);
    filter: drop-shadow(.2286rem .2286rem .0286rem #672ee1);
    margin: 1.1429rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: .1429rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .dinosaur {
    position: relative;
    width: 8.5714rem;
    left: -.8571rem;
    top: 0;
    -webkit-transform: translateZ(2.2857rem) scale(.78);
    transform: translateZ(2.2857rem) scale(.78);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .cactus {
    width: 2.6286rem;
    bottom: .5714rem;
    right: .8571rem;
    z-index: -1;
    -webkit-transform: translateZ(2.2857rem) scale(.7);
    transform: translateZ(2.2857rem) scale(.7);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .dinosaur {
    position: relative;
    width: 8.5714rem;
    left: -.8571rem;
    top: 0;
    -webkit-transform: translateZ(2.2857rem) scale(.78);
    transform: translateZ(2.2857rem) scale(.78);
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components>img {
    position: absolute;
}

section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .cactus {
    width: 2.6286rem;
    bottom: .5714rem;
    right: .8571rem;
    z-index: -1;
    -webkit-transform: translateZ(2.2857rem) scale(.7);
    transform: translateZ(2.2857rem) scale(.7);
}

section.middle-wrapper>.mini-games-head>h1>p.default-logo {
    color: #fff;
}

section.middle-wrapper>.mini-games-head>h1>p {
    color: #f4ff07;
    position: relative;
    cursor: pointer;
}


/* animation background */

.middle-wrapper {
    /* position: absolute; */
    top: 40%;
    width: 100%;
    font-family: 'Courgette', cursive;
    font-size: 4em;
    text-align: center;
    transform: translate;
    color: #fff;
    transform: translateY (-50%);
}


/* .section-parent {
    position: absolute;
} */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: relative;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #0c0c27;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 38;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #583C87;
    top: 42%;
    left: 68%;
    animation-duration: 37s;
    animation-delay: -75s;
    transform-origin: -19vw 0vh;
    box-shadow: -2vmin 0 0.7537511438784021vmin currentColor;
}

.background span:nth-child(1) {
    color: #ffcc00;
    top: 68%;
    left: 16%;
    animation-duration: 18s;
    animation-delay: -62s;
    transform-origin: 25vw -12vh;
    box-shadow: 2vmin 0 0.5292363146160932vmin currentColor;
}

.background span:nth-child(2) {
    color: #583C87;
    top: 44%;
    left: 25%;
    animation-duration: 8s;
    animation-delay: -76s;
    transform-origin: -18vw -16vh;
    box-shadow: -2vmin 0 1.1884612770422265vmin currentColor;
}

.background span:nth-child(3) {
    color: #f7a600;
    top: 20%;
    left: 25%;
    animation-duration: 82s;
    animation-delay: -111s;
    transform-origin: 16vw -14vh;
    box-shadow: -2vmin 0 0.7541435329297173vmin currentColor;
}

.background span:nth-child(4) {
    color: #583C87;
    top: 21%;
    left: 78%;
    animation-duration: 84s;
    animation-delay: -21s;
    transform-origin: -6vw 7vh;
    box-shadow: -2vmin 0 0.8943646374296743vmin currentColor;
}

.background span:nth-child(5) {
    color: #583C87;
    top: 4%;
    left: 73%;
    animation-duration: 46s;
    animation-delay: -100s;
    transform-origin: 2vw 24vh;
    box-shadow: 2vmin 0 0.4955703391474444vmin currentColor;
}

.background span:nth-child(6) {
    color: #f7a600;
    top: 89%;
    left: 33%;
    animation-duration: 8s;
    animation-delay: -41s;
    transform-origin: -13vw -12vh;
    box-shadow: -2vmin 0 0.3708154434197275vmin currentColor;
}

.background span:nth-child(7) {
    color: #f7a600;
    top: 40%;
    left: 24%;
    animation-duration: 18s;
    animation-delay: -25s;
    transform-origin: 10vw -21vh;
    box-shadow: 2vmin 0 1.0256301631016067vmin currentColor;
}

.background span:nth-child(8) {
    color: #ffcc00;
    top: 50%;
    left: 44%;
    animation-duration: 80s;
    animation-delay: -1s;
    transform-origin: 14vw -19vh;
    box-shadow: -2vmin 0 0.704245409509461vmin currentColor;
}

.background span:nth-child(9) {
    color: #583C87;
    top: 45%;
    left: 11%;
    animation-duration: 92s;
    animation-delay: -3s;
    transform-origin: 17vw 25vh;
    box-shadow: -2vmin 0 0.9530508038374286vmin currentColor;
}

.background span:nth-child(10) {
    color: #f7a600;
    top: 75%;
    left: 77%;
    animation-duration: 34s;
    animation-delay: -119s;
    transform-origin: -12vw -24vh;
    box-shadow: 2vmin 0 1.101638510343684vmin currentColor;
}

.background span:nth-child(11) {
    color: #f7a600;
    top: 55%;
    left: 60%;
    animation-duration: 9s;
    animation-delay: -75s;
    transform-origin: -18vw -13vh;
    box-shadow: -2vmin 0 0.6756642412510285vmin currentColor;
}

.background span:nth-child(12) {
    color: #f7a600;
    top: 65%;
    left: 18%;
    animation-duration: 10s;
    animation-delay: -53s;
    transform-origin: -21vw 2vh;
    box-shadow: 2vmin 0 0.2549842116422154vmin currentColor;
}

.background span:nth-child(13) {
    color: #583C87;
    top: 51%;
    left: 32%;
    animation-duration: 112s;
    animation-delay: -25s;
    transform-origin: 25vw 0vh;
    box-shadow: -2vmin 0 0.9560967930885029vmin currentColor;
}

.background span:nth-child(14) {
    color: #ffcc00;
    top: 95%;
    left: 59%;
    animation-duration: 15s;
    animation-delay: -81s;
    transform-origin: -1vw 12vh;
    box-shadow: 2vmin 0 0.28221652603054936vmin currentColor;
}

.background span:nth-child(15) {
    color: #f7a600;
    top: 76%;
    left: 42%;
    animation-duration: 15s;
    animation-delay: -28s;
    transform-origin: -5vw 24vh;
    box-shadow: 2vmin 0 1.0847049067001866vmin currentColor;
}

.background span:nth-child(16) {
    color: #583C87;
    top: 40%;
    left: 49%;
    animation-duration: 89s;
    animation-delay: -43s;
    transform-origin: 9vw 20vh;
    box-shadow: 2vmin 0 0.9842792693467677vmin currentColor;
}

.background span:nth-child(17) {
    color: #ffcc00;
    top: 80%;
    left: 88%;
    animation-duration: 41s;
    animation-delay: -30s;
    transform-origin: -11vw -8vh;
    box-shadow: -2vmin 0 1.080339915343874vmin currentColor;
}

.background span:nth-child(18) {
    color: #583C87;
    top: 5%;
    left: 54%;
    animation-duration: 74s;
    animation-delay: -6s;
    transform-origin: 16vw -20vh;
    box-shadow: 2vmin 0 1.080466517521374vmin currentColor;
}

.background span:nth-child(19) {
    color: #ffcc00;
    top: 83%;
    left: 98%;
    animation-duration: 74s;
    animation-delay: -65s;
    transform-origin: -10vw -12vh;
    box-shadow: -2vmin 0 0.9607717697497571vmin currentColor;
}

.background span:nth-child(20) {
    color: #583C87;
    top: 66%;
    left: 50%;
    animation-duration: 42s;
    animation-delay: -13s;
    transform-origin: 1vw 15vh;
    box-shadow: -2vmin 0 0.4989660328867578vmin currentColor;
}

.background span:nth-child(21) {
    color: #ffcc00;
    top: 84%;
    left: 77%;
    animation-duration: 21s;
    animation-delay: -87s;
    transform-origin: 22vw 21vh;
    box-shadow: -2vmin 0 1.1051128861889727vmin currentColor;
}

.background span:nth-child(22) {
    color: #ffcc00;
    top: 70%;
    left: 29%;
    animation-duration: 124s;
    animation-delay: -10s;
    transform-origin: 3vw 7vh;
    box-shadow: 2vmin 0 0.5116937540819315vmin currentColor;
}

.background span:nth-child(23) {
    color: #ffcc00;
    top: 49%;
    left: 19%;
    animation-duration: 115s;
    animation-delay: -18s;
    transform-origin: -1vw -22vh;
    box-shadow: 2vmin 0 0.4884665368196288vmin currentColor;
}

.background span:nth-child(24) {
    color: #f7a600;
    top: 11%;
    left: 77%;
    animation-duration: 58s;
    animation-delay: -29s;
    transform-origin: -14vw -5vh;
    box-shadow: -2vmin 0 0.7792812039810446vmin currentColor;
}

.background span:nth-child(25) {
    color: #ffcc00;
    top: 97%;
    left: 54%;
    animation-duration: 71s;
    animation-delay: -105s;
    transform-origin: 23vw -23vh;
    box-shadow: -2vmin 0 1.0046481145390023vmin currentColor;
}

.background span:nth-child(26) {
    color: #f7a600;
    top: 39%;
    left: 55%;
    animation-duration: 19s;
    animation-delay: -38s;
    transform-origin: 3vw 4vh;
    box-shadow: -2vmin 0 0.9337349777802184vmin currentColor;
}

.background span:nth-child(27) {
    color: #f7a600;
    top: 81%;
    left: 37%;
    animation-duration: 53s;
    animation-delay: -45s;
    transform-origin: -20vw 23vh;
    box-shadow: -2vmin 0 1.1817042865621823vmin currentColor;
}

.background span:nth-child(28) {
    color: #f7a600;
    top: 57%;
    left: 1%;
    animation-duration: 25s;
    animation-delay: -101s;
    transform-origin: 1vw -21vh;
    box-shadow: 2vmin 0 0.7978745838820871vmin currentColor;
}

.background span:nth-child(29) {
    color: #f7a600;
    top: 21%;
    left: 79%;
    animation-duration: 36s;
    animation-delay: -18s;
    transform-origin: 18vw -1vh;
    box-shadow: 2vmin 0 0.649245594738658vmin currentColor;
}

.background span:nth-child(30) {
    color: #f7a600;
    top: 56%;
    left: 76%;
    animation-duration: 98s;
    animation-delay: -105s;
    transform-origin: -1vw 2vh;
    box-shadow: -2vmin 0 1.1935111356762724vmin currentColor;
}

.background span:nth-child(31) {
    color: #ffcc00;
    top: 69%;
    left: 49%;
    animation-duration: 53s;
    animation-delay: -85s;
    transform-origin: 8vw -14vh;
    box-shadow: -2vmin 0 0.8093024582012072vmin currentColor;
}

.background span:nth-child(32) {
    color: #ffcc00;
    top: 90%;
    left: 53%;
    animation-duration: 98s;
    animation-delay: -53s;
    transform-origin: -15vw -6vh;
    box-shadow: 2vmin 0 0.42691138475448964vmin currentColor;
}

.background span:nth-child(33) {
    color: #f7a600;
    top: 41%;
    left: 65%;
    animation-duration: 82s;
    animation-delay: -104s;
    transform-origin: 22vw 12vh;
    box-shadow: -2vmin 0 0.8722759233946473vmin currentColor;
}

.background span:nth-child(34) {
    color: #ffcc00;
    top: 52%;
    left: 90%;
    animation-duration: 120s;
    animation-delay: -36s;
    transform-origin: 5vw -9vh;
    box-shadow: -2vmin 0 0.9946728305782919vmin currentColor;
}

.background span:nth-child(35) {
    color: #ffcc00;
    top: 35%;
    left: 54%;
    animation-duration: 106s;
    animation-delay: -55s;
    transform-origin: -17vw -12vh;
    box-shadow: 2vmin 0 0.7009633903650601vmin currentColor;
}

.background span:nth-child(36) {
    color: #583C87;
    top: 41%;
    left: 42%;
    animation-duration: 124s;
    animation-delay: -22s;
    transform-origin: 5vw -20vh;
    box-shadow: -2vmin 0 0.6467580693504953vmin currentColor;
}

.background span:nth-child(37) {
    color: #583C87;
    top: 78%;
    left: 83%;
    animation-duration: 46s;
    animation-delay: -88s;
    transform-origin: -18vw -2vh;
    box-shadow: 2vmin 0 0.4185284938161218vmin currentColor;
}

.background span:nth-child(38) {
    color: #ffcc00;
    top: 23%;
    left: 63%;
    animation-duration: 17s;
    animation-delay: -74s;
    transform-origin: 7vw -14vh;
    box-shadow: -2vmin 0 0.7223535692585086vmin currentColor;
}

.background span:nth-child(39) {
    color: #583C87;
    top: 20%;
    left: 4%;
    animation-duration: 73s;
    animation-delay: -22s;
    transform-origin: 13vw -14vh;
    box-shadow: 2vmin 0 1.2376354294592227vmin currentColor;
}

.background span:nth-child(40) {
    color: #f7a600;
    top: 25%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -73s;
    transform-origin: -13vw -9vh;
    box-shadow: 2vmin 0 1.2350244019425072vmin currentColor;
}

.background span:nth-child(41) {
    color: #f7a600;
    top: 54%;
    left: 89%;
    animation-duration: 37s;
    animation-delay: -53s;
    transform-origin: 19vw 14vh;
    box-shadow: -2vmin 0 0.5882881211477173vmin currentColor;
}

.background span:nth-child(42) {
    color: #f7a600;
    top: 28%;
    left: 42%;
    animation-duration: 110s;
    animation-delay: -37s;
    transform-origin: 13vw 23vh;
    box-shadow: 2vmin 0 0.4864773103571898vmin currentColor;
}

.background span:nth-child(43) {
    color: #f7a600;
    top: 31%;
    left: 3%;
    animation-duration: 109s;
    animation-delay: -100s;
    transform-origin: -20vw 19vh;
    box-shadow: 2vmin 0 0.9934791670146061vmin currentColor;
}

.background span:nth-child(44) {
    color: #583C87;
    top: 66%;
    left: 82%;
    animation-duration: 27s;
    animation-delay: -25s;
    transform-origin: 11vw -14vh;
    box-shadow: -2vmin 0 1.0074392873486298vmin currentColor;
}

.header img {
    height: 18vh;
    width: 100%;

}

h1.main-title p {
    padding: 0;
    margin: 0;
}
.content {
    position: absolute;
    top: 0;
    /* left: 0; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.mini-games {
    /* top: 120vh !important; */
    margin-top: 9%;
}

.mini-games-head img {
    width: 250px;
    margin: 20px;
}

@media (max-width:320px) {
    section.middle-wrapper>.mini-games-content-wrapper>.game-container {
        width: 7.2571rem;
        height: 9.5714rem;
    }
    section.middle-wrapper>.mini-games-content-wrapper>.game-container.hilo-container.hilo-components.hilo-cards {
        width: 7.4857rem;
    }
    section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .dinosaur {
        width: 6.5714rem;
    }
    section.middle-wrapper>.mini-games-content-wrapper>.game-container.dino-container .dino-components .cactus {
        width: 2rem;
        bottom: 1.5714rem;
    }
    section.middle-wrapper>.mini-games-content-wrapper>.game-container.hilo-container .hilo-components .hilo-cards {
        width: 6.4857rem;
        left: 0;
        bottom: 1.4286rem;
    }
}