<div class="jw game-modal">

    <div class="modal-header">
        <div class="controls d-flex align-items-center justify-content-between w-100">
            <span class="message">
                {{jackpot}} dt لقد فزت بالجائزة الكبرى 
            </span>
            <button type="button" class="close-jw" aria-label="Close" (click)="closeModal()">
                Close
            </button>
        </div>
    </div>

    <div class="modal-body">
        <div class="jackpotwinner">
            <img src="../../../assets/images/Jacpot-C2.gif">
        </div>

    </div>
</div>