.web.no-gutters {
    width: 95vw;
    height: 65vh;
    padding-top: 55px;
}

.content-main.touch-left.bg {
    height: 90%;
}

.transactions-content {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 1rem 0 1rem;
    height: 74vh;
}

table {
    width: 100%;
    overflow: scroll;
    padding: 0 1rem;
    margin: 7px 0 22px;
}

.navv {
    width: 100%;
    padding: 0 1rem;
}

ul.pagination {
    width: 100%;
    overflow: scroll;
    margin-bottom: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

thead {
    background: #f8a900;
}

thead th {
    min-width: 200px !important;
    text-align: center;
}

tbody tr td {
    text-align: center;
}

tbody tr {
    background: #121c29;
    border-bottom: 1px solid #17313a;
    color: #fff;
}

h4.page-title {
    text-align: center;
    margin: 0;
    padding: 0.8rem;
    color: #f8aa00;
}

.redirection {
    color: #f8aa00;
}