<div class="bg game-modal">

    <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
        <div class="controls d-flex align-items-center justify-content-between">

            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="modal-body">
        <form [formGroup]="changePasswordForm">
        <div class="d-flex">
            <div class="form-group m-2">
                <label class="center-block">old password
                    <input class="form-control" formControlName="old_password">
                </label>
            </div>

            <div class="form-group m-2">
                <label class="center-block">New password
                    <input class="form-control" formControlName="new_password">
                </label>
            </div>
        </div>

    </form>

    </div>
    <div class="modal-footer">
        <button (click)="changePassword()">Submit</button>
    </div>
</div>