
<div style=" background-color: #0c0c27;">
    <app-imageslid class="wrapper__video"></app-imageslid>
</div>
<div class="sdr-item-holder-bc" [routerLink]="['/jack-pot']">
    <img src="../../../assets/images/promo4.png" alt="" style="width:100%; border-radius: 10px">
</div>
<div class="casino-winner d-flex flex-column">
    <div id="left">
        <p style=" color: white;font-size: 15px;font-weight: 200;padding-left: 2%; padding-top:5%;">Top casino winners
        </p>
    </div>
    <app-winners></app-winners>
</div>

<div style=" background-color: #0c0c27; ">
    <p style=" color: white;font-size: 15px;font-weight: 200;padding-left: 2%;">Next games</p>
    <app-matchslid></app-matchslid>
</div>

<app-casino></app-casino>

<app-livecasino></app-livecasino>
<app-mini-games></app-mini-games>