<div class="footer px-2">
    <div></div>
    <div class="licence">
        <a href="https://licensing.gaming-curacao.com/validator/?lh=686550c5369e6774e220eea348e077e6&amp;rlh=18f050777afb816b90b74ec22089f353" target="_blank ">
            <img src="https://m.carthagobet.tn/assets/images/gc-logo.png" width="120 " height="45 " alt="GAMING CURACAO LICENSEE CLICK FOR MORE INFORMATION " class="centri">
            <img src="https://m.carthagobet.tn/assets/images/verified.png" width="25 " alt="VERIFIED URL " class="centriVer">
        </a>
        <p class="gambling pt-3" translate> Gambling might be addictive. Play with caution!</p>
    </div>
    <div class="advices">

        <p translate>Carthagobet is operated by Zazasiv Group Technology Ltd a UK company registered under the address 71-75 Shelton Street, Covent Garden, London, England, WC2H 9JQ licensed and regulated by the law of Curacao under the Master License of Gaming Services
            Provider, N.V. #365/JAZ</p>
        <p>CarthagoBet is registered Marque and protected by Tunisian law, operated by ClickToWin Tunisia Ltd- street 14 Janvier, 4054 Sousse Payments are processed by ClickToWin Tunisia LTD as per agreement between the two companies.</p>
    </div>

    <div class="d-flex">
        <div class="about">
            <h5 translate> About </h5>
            <ul>
                <li class="my-2"><a [routerLink]="['/terms&conditions']" translate>Termes et conditions</a></li>
                <li class="my-2"><a [routerLink]="['/responsible-gaming']" translate>Responsible Gaming</a></li>
                <li class="my-2"><a [routerLink]="['/privacy-policy']" translate>Privacy Policy</a></li>
                <li class="my-2"><a [routerLink]="['/aml-privacy']" translate>AML KYC Policy</a></li>
                <li class="my-2"><a (click)="openTermes()" translate>Cashback termes</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h5 translate> Social media </h5>
            <div class="items">
                <span><a href="https://www.facebook.com/Carthagobet.tn"><img src="https://m.carthagobet.tn/assets/images/facebook.png"/></a></span>
                <span><a href=" https://instagram.com/carthagobet"><img src="https://m.carthagobet.tn/assets/images/instagram.png"/></a></span>
                <span><img src="https://m.carthagobet.tn/assets/images/linkedin.png"/></span>
                <span><img src="https://m.carthagobet.tn/assets/images/youtube.png"></span>
            </div>

            <div class="py-2">
                <h5 class="p-0 m-0" translate><strong> Our partners</strong></h5>
                <span><img src="../../../assets/images/L1.svg" style="width: 30px;height: 30px;margin-right: 10px;"></span>
                <span><img src="../../../assets/images/L2.svg" style="width: 30px;height: 30px;margin-right: 10px;"></span>
                <span><img src="../../../assets/images/Evolution.svg" style="width: 40px;height: 50px;margin-right: 10px;"></span>
                <span><img src="../../../assets/images/PlaynGo.svg" style="width: 60px;margin-right: 10px;"></span>
                <span><img src="../../../assets/images/PragmaticPlay.svg" style="width: 60px;margin-right: 10px;"></span>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <img src="../../../assets/images/+18.png" style="width: 30px;height: 30px;margin-right: 10px;">
        <p translate="">Attention! It is gambling advertising. Gambling is not suitable for solving financial problems. Please read terms and conditions and play responsibly.
        </p>
    </div>
</div>